


.menu{
    position: relative;
    padding:2rem 1rem 2rem 1rem;
}
.scroll{
    overflow: auto;
    white-space: nowrap;
}
.scroll::-webkit-scrollbar{
    height:0.1rem;
    background:#FAFAFA;
}
.scroll::-webkit-scrollbar-thumb{
    background:#FAFAFA;
}
.item {
    display: inline-block;
    position: relative;
    color: #333;
    text-align: center;
    padding: 0;
    margin:0.5rem;
    text-decoration: none;
    z-index: 1;
    
}
.menu.scroll .item{
    margin:-0.3rem;
}

.item:hover {
    z-index: 98;
    transform: scale(1.2, 1.2);
    
}
/* .item:first-child::after{
    content:"All";
    vertical-align: middle;
    line-height: 5.5rem;
    color:#FFF;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:95;
    opacity: .3;
    background:red;

} */
.img{
    height: 6rem;
    width:6rem;
}
.img img{
    width:100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;

}

.btn{
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FFF;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:95;
    opacity: .9;
    cursor: pointer;
}