.img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.img:hover{
    z-index: 5;
}
.title{
    font-size:0.9rem;
    display: block;
    width:100%;
    height:1.1rem;
    text-align: center;
}